* {
    margin: 0;
    padding: 0;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(./assests/images/bg.jpg);
    height: 644px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1946px, 100vw);
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 84px;
    align-items: center;
    position: relative;
    z-index: 10;
}

nav img {
    width: 148px;
    opacity: 0.9;
    position: relative;
}

nav div {
    justify-content: center;
    align-items: center;
}

nav .b1 {
    display: flex inline;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    color: white;
    background: transparent;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px 12px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
}

nav .b2 {
    background-color: rgb(217, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 16px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    max-width: 600px;
    height: calc(100% - 84px);
    color: white;
    position: relative;
    margin: auto;
    z-index: 1;
}

.container h1 {
    font-size: 56px;
    text-align: center;
}

.container .p1 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.container .p2 {
    margin-top: 10px;
    text-align: center;
}

.container .box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main .b3 {
    display: flex inline;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: rgb(217, 0, 0);
    border: none;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.main input {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.9;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: 300px;
}

.line {
    height: 8px;
    background-color: #222;
    position: relative;
    z-index: 10;
}

.card {
    z-index: 1;
    color: white;
    padding: 0px 26px;
    border-bottom: 8px solid #222;
    padding-bottom: 50px;
}

.card .card1 {
    display: flex;
    margin: 0px auto;
    align-items: center;
    max-width: 1200px;
}

.card .text {
    display: flex;
    flex-direction: column;
}

.text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.text h3 {
    font-size: 26px;
    font-weight: 400;
}

.card .image {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.card .image img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 10;
}

.card .image video {
    position: absolute;
    top: 18%;
    /* adjust depending on TV frame */
    left: 13%;
    width: 73%;
    /* responsive scaling with TV */
    height: 60%;
    object-fit: cover;
    z-index: 5;
}

.question {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 45px;
}

.question h1 {
    font-size: 50px;
    text-align: center;
}

.question .faq {
    margin: 52px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.question .faq .btn {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 26px;
    background-color: #303030;
    border: 0;
    padding: .8em 2.2em .8em 1.2em;
    font-weight: 400;
    width: 700px;
    text-align: justify;
    position: relative;
    margin: 0px auto;
}

.plus {
    position: absolute;
    right: 4%;
    top: 34%;
}

.membership {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership .p2 {
    text-align: center;
}

.membership .box1 {
    display: flex;
}


@media only screen and (max-width: 1420px) {
    .container h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1220px) {
    .container .box1 {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 980px) {

    .card {
        margin: 30px 0px;
        padding: 0px;
    }

    .card1 {
        flex-direction: column;
        height: 100%;
    }

    .text {
        width: 100%;
        text-align: center;
    }

    .text h1 {
        font-size: 40px;

    }

    .text h3 {
        font-size: 20px;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image img {
        width: 50%
    }

    .question .faq .btn {
        width: 100%;
    }

}

@media only screen and (max-width: 960px) {
    nav img {
        width: 89px;
    }

}

@media only screen and (max-width: 744px) {
    .question h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .lang {
        display: none;
    }

}

@media only screen and (max-width: 506px) {
    .container h1 {
        font-size: 40px;
    }

    .text h1 {
        font-size: 26px;

    }

    .text h3 {
        font-size: 18px;
    }

}

@media only screen and (max-width: 426px) {
    .question h1 {
        font-size: 28px;
    }

    .question .faq .btn {
        font-size: 15px;
    }

    .plus {
        width: 15px;
        top: 24%;
        right: 7%;
    }

}

@media only screen and (max-width: 404px) {
    .container h1 {
        font-size: 32px;
    }

}

@media only screen and (max-width: 324px) {
    nav img {
        width: 80px;
    }

    .container h1 {
        font-size: 28px;
    }

    .main input {
        width: 250px;
    }

    .question h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 320px) {
    .question .faq .btn {
        font-size: 10px;
    }

    .plus {
        width: 12px;
        top: 7%;
        right: 5%;
    }
}